{% extends "header.html" %}
{% load widget_tweaks %}
{% load static %}
{% block body %}

  <body class="body" style="background-image:url({% static "images/abs.webp" %}); background-size: cover; background-repeat: no-repeat; position: relative;">
    <div class="container">
      <div class="jumbotron mx-auto mt-5" style="width: 500px; height: 100%; background-size: 100% 100%;">
        <p>
          <strong>We've emailed you instructions for setting your password, you should receive them shortly.</strong>
        </p>
        <p>
          <strong>If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.</strong><br>
        <a class="btn btn-dark btn-sm mt-4" href="{% url "homeT" %}" role="button">Home</a>
      </div>

    </div>
  </body>

{% endblock %}
