{% load static %}
<footer style="background: #e2e7ee; position: absolute; width: 100%;">

    <div class="container">
      <div class="row my-3">
        <div class="col my-3">
          <h5><small class="text-muted">Made by: <a href="https://www.facebook.com/FlyLikeAnEagleToTheSea" target="_blank"><strong>Aleksandr Kholiavskyi</strong></a></small></h5>
          <a href="https://www.facebook.com/FlyLikeAnEagleToTheSea" target="_blank"><img src="{% static "images/facebook.png" %}" class="rounded" alt="Logo" style="width: 40px; height: 30px;"></a>
          <a href="https://www.linkedin.com/in/oleksandr-kholiavskyi-858103124/" target="_blank"><img src="{% static "images/linkedin.png" %}" class="rounded" alt="Logo" style="width: 43px; height: 43px;"></a>
        </div>
        <div class="col">

          <h5><small class="text-muted">Powered by:</small></h5>
          <a href="https://www.djangoproject.com/" target="_blank"><img src="{% static "images/djanfo.webp" %}" class="rounded mt-2 mr-2" alt="Logo" style="width: 50px; height: 40px;"></a>
          <a href="https://getbootstrap.com/" target="_blank"><img src="{% static "images/bootstrap4.png" %}" class="rounded mt-2 ml-2" alt="Logo" style="width: 59px; height: 40px;"></a>
          <a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi" target="_blank"><img src="{% static "images/blast.png" %}" class="rounded mt-2 ml-2" alt="Logo" style="width: 72px; height: 40px;"></a>
          <a href="https://biopython.org/" target="_blank"><img src="{% static "images/biopython.png" %}" class="rounded mt-2 ml-2" alt="Logo" style="width: 50px; height: 40px;"></a>

        </div>
      </div>
    </div>
</footer>